.geo-node-healthy {
  color: $gl-success;
}

.geo-node-unhealthy {
  color: $gl-danger;
}

.geo-node-disabled {
  color: $gray-darkest;
}

.geo-node-unknown {
  color: $gray-darkest;
}

.well-list.geo-nodes {
  li {
    position: relative;

    &:hover {
      background: $white-light;
    }

    &.node-disabled,
    &.node-disabled:hover {
      background-color: $gray-lightest;
    }
  }
}

.node-info {
  color: $gl-text-color;
}

.geo-health {
  display: inline-block;
  margin-top: 5px;
  white-space: pre-wrap;
}

.node-badge {
  color: $white-light;
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;

  &.primary-node {
    background-color: $blue-300;
  }

  &.current-node {
    background-color: $green-400;
  }
}

.node-actions {
  margin-top: 10px;

  @media (min-width: $screen-md-min) {
    position: absolute;
    right: 15px;
    top: 0;
  }

  .btn:not(:first-of-type) {
    margin-left: 10px;
  }
}
