- page_title "Repository"
- @content_class = "limit-container-width" unless fluid_layout

- if show_new_nav?
  - add_to_breadcrumbs("Settings", edit_project_path(@project))

= render "projects/settings/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('deploy_keys')

= render "projects/push_rules/index"
= render "projects/mirrors/show"

-# Protected branches & tags use a lot of nested partials.
-# The shared parts of the views can be found in the `shared` directory.
-# Those are used throughout the actual views. These `shared` views are then
-# reused in EE.
- if @project.feature_available?(:protected_refs_for_users, current_user)
  = render "projects/protected_branches/ee/index"
  = render "projects/protected_tags/ee/index"
- else
  = render "projects/protected_branches/index"
  = render "projects/protected_tags/index"

= render @deploy_keys
